body {
    background-color: #f4f6fc;
    margin: 0;
    padding: 0;
}

.teal {
    background-color: #1d97bd;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    box-sizing: border-box;
    padding: 4px 20px; 
}

.logo img {
    width: 100px;
    height: auto;
    margin-left: 20px; 
}

.navbar {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    display: flex;
    gap: 20px;
    margin-right: 20px; 
    white-space: nowrap;
}

@media (max-width: 600px) {
    .navbar {
        gap: 10px; 
        margin-right: 10px;
    }
}

